---
import Icon from "astro-icon";
const info = {
  title: "My Skills",
  skills: [
    {
      category: "Softskills",
      skills: [
        {
          name: "Leadership",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Innovation",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Communication",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Teamwork",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Problem Solving",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Goal Oriented",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Time Management",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Adaptability",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Negotiation",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Mentorship",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Team Management",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "Enterpreneurship",
          icon: "fluent:brain-circuit-20-regular",
        },
      ],
    },
    {
      category: "Frontend",
      skills: [
        {
          name: "JavaScript",
          icon: "simple-icons:javascript",
        },
        {
          name: "TypeScript",
          icon: "simple-icons:typescript",
        },
        {
          name: "React",
          icon: "akar-icons:react-fill",
        },
        {
          name: "Angular",
          icon: "simple-icons:angular",
        },
        {
          name: "NextJS",
          icon: "simple-icons:next-dot-js",
        },
        {
          name: "Redux",
          icon: "simple-icons:redux",
        },
        {
          name: "Zustand",
          icon: "icon-park-outline:solid-state-disk",
        },
        {
          name: "TailwindCSS",
          icon: "simple-icons:tailwindcss",
        },
        {
          name: "Git",
          icon: "simple-icons:git",
        },
        {
          name: "Ionic",
          icon: "simple-icons:ionic",
        },
      ],
    },
    {
      category: "Backend",
      skills: [
        {
          name: "NodeJS",
          icon: "simple-icons:node-dot-js",
        },
        {
          name: "NestJS",
          icon: "simple-icons:nestjs",
        },
        {
          name: "Express",
          icon: "simple-icons:express",
        },
        {
          name: "TypeORM",
          icon: "icon-park-outline:solid-state-disk",
        },
        {
          name: "PostgreSQL",
          icon: "simple-icons:postgresql",
        },
        {
          name: "MySQL",
          icon: "simple-icons:mysql",
        },
        {
          name: "MongoDB",
          icon: "simple-icons:mongodb",
        },
        {
          name: "Redis",
          icon: "simple-icons:redis",
        },
        {
          name: "PHP",
          icon: "simple-icons:php",
        },
        {
          name: "Lumen",
          icon: "simple-icons:lumen",
        },
        {
          name: "Jest",
          icon: "simple-icons:jest",
        },
        {
          name: ".Net",
          icon: "simple-icons:csharp",
        },
        {
          name: "Git",
          icon: "simple-icons:git",
        },
      ],
    },
    {
      category: "Cloud",
      skills: [
        {
          name: "AWS",
          icon: "simple-icons:amazonaws",
        },
        {
          name: "Azure",
          icon: "simple-icons:microsoftazure",
        },
        {
          name: "Docker",
          icon: "simple-icons:docker",
        },
        {
          name: "Terraform",
          icon: "simple-icons:terraform",
        },
        {
          name: "Jenkins",
          icon: "simple-icons:jenkins",
        },
        {
          name: "Serverless Framework",
          icon: "simple-icons:serverless",
        },
        {
          name: "Azure DevOps",
          icon: "simple-icons:azuredevops",
        },
        {
          name: "GitHub Actions",
          icon: "simple-icons:githubactions",
        },
      ],
    },
    {
      category: "Others",
      skills: [
        {
          name: "English",
          icon: "icon-park-outline:english",
        },
        {
          name: "Scrum",
          icon: "fluent:brain-circuit-20-regular",
        },
        {
          name: "IoT",
          icon: "eos-icons:iot",
        },
        {
          name: "Raspberry Pi",
          icon: "simple-icons:raspberrypi",
        },
        {
          name: "Arduino",
          icon: "simple-icons:arduino",
        },
        {
          name: "Linux",
          icon: "simple-icons:linux",
        },
        {
          name: "Cisco",
          icon: "simple-icons:cisco",
        },
        {
          name: "Figma",
          icon: "simple-icons:figma",
        },
      ],
    },
  ],
};
---

<div
  class="w-full max-w-xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-2"
>
  <div class="flex flex-col items-center pb-10 mt-8">
    <span class="text-slate-900 font-bold">{info.title}</span>
    <hr />
    {
      info.skills.map((category) => (
        <div class="flex flex-col items-start ml-6 mt-4">
          <span class="text-slate-900 font-bold text-sm">
            {category.category}
          </span>
          <hr />
          <div class="flex flex-row items-center mt-2 flex-wrap p-1">
            {category.skills.map((skill) => (
              <div class="flex flex-col items-center mt-2">
                <div class="flex flex-row items-center">
                  <span class="bg-slate-200 rounded-md text-xs p-1 ml-2 flex">
                    <Icon
                      class="w-4 h-4 mr-1 text-blue-900"
                      name={`${skill.icon}`}
                    />
                    <span class="icon-[mdi-light--home]" />
                    <span>{skill.name}</span>
                  </span>
                </div>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</div>
