<div
  class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <div class="flex flex-col items-center pb-10 mt-8">
    <span class="text-slate-900 font-bold">About Me</span>
    <hr />
    <span class="p-8 text-justify">
      As a seasoned <span
        class="bg-slate-200 font-bold rounded-md text-slate-800 p-1 text-sm"
        >Software Architect</span
      > and <span class="p-1 rounded-md text-sm font-bold bg-yellow-100"
        >JavaScript</span
      >
       enthusiast, I excel in designing robust, scalable solutions and leading
      teams to successful project completions. My quick learning abilities and
      excellent communication skills foster efficient collaboration within
      diverse work environments. Challenges drive me and my leadership skills
      help me drive innovation. Outside of work, I draw inspiration from being a
      devoted father to my beloved daughter, <span
        class="text-sm p-1 font-bold rounded-md bg-pink-100 text-pink-600 hover:bg-pink-400 hover:text-pink-100 cursor-vertical-text"
        >Nikol Daniela. 🥰</span
      >
    </span>
  </div>
</div>
