---
import Icon from "astro-icon";
const info = {
  shortcuts: [
    {
      name: "Skills",
      path: "/skills",
      icon: "ph:brain-light",
    },
    {
      name: "Experience",
      path: "/experience",
      icon: "mdi:work-outline",
    },
    {
      name: "Testimonials",
      path: "/testimonials",
      icon: "dashicons:testimonial",
    },
  ],
};
---

<div
  class="w-full mx-w-xl md:max-w-6xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 mb-2"
>
  <div class="flex flex-col items-center pb-10 mt-8">
    <span class="text-slate-900 font-bold md:text-2xl mb-8">More about me</span>
    <hr />
    <div class="grid grid-cols-1 md:grid-cols-3 md:gap-16">
      {
        info.shortcuts.map((shortcut) => (
          <div class="group flex flex-col items-center bg-slate-100 hover:bg-blue-900 rounded-md h-30 w-52 justify-center cursor-pointer">
            <a
              href={shortcut.path}
              class="flex flex-col items-center justify-center p-4 rounded-md dark:hover:bg-gray-700"
            >
              <Icon
                class="w-8 h-8 group-hover:text-white text-blue-900"
                name={`${shortcut.icon}`}
              />
              <span class="text-md text-blue-900 font-bold dark:text-gray-100 group-hover:text-white">
                {shortcut.name}
              </span>
            </a>
          </div>
        ))
      }
    </div>
  </div>
</div>
