@import "../../Scss/colors";

.Home {
  .section-card {
    background-color: $judlup-light !important;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .card-home {
      background-color: #ffffff;
      height: 80%;
      border-radius: 7px;
      -webkit-box-shadow: 0px 1px 5px -2px #000000;
      box-shadow: 0px 1px 5px -2px #000000;
      .left-card-home {
        height: 72vh;
        border-radius: 7px 0px 0px 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        .avatar-card {
          width: 400px;
          height: 400px;
        }
      }
      .right-card-home {
        height: 72vh;
        border-radius: 0px 7px 7px 0px;
        .qr-image-container-home-card {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          .qr-rigth-card-home {
            width: 115px;
            margin-right: 3%;
            margin-top: 5%;
          }
        }
        .name-home-card {
          margin-top: 2%;
          font-size: 4.9em;
          font-weight: 450;
        }
        .job-title-home-card {
          font-weight: 400;
          letter-spacing: 10px;
          text-align: center;
          width: 83%;
          background-color: $judlup-light;
          color: $judlup-prim;
          border-radius: 7px;
          margin-bottom: 2em;
        }
        .contact-home-card {
          letter-spacing: 10px;
          svg {
            color: $judlup-sec;
            vertical-align: middle;
          }
          h6 {
            font-size: 1.2em;
          }
        }
        .container-social-home-card {
          margin-top: 2%;
          font-size: 1.2em;
          color: $judlup-sec;
        }
        .container-download-resume-home-card {
          margin-top: 2%;
          .download-resume-home-card {
            background-color: $judlup-sec;
            width: 330px;
          }
        }
        .icons {
          margin-left: 10px;
          font-size: 1.3em;
        }
      }
    }
  }
  .about-me {
    min-height: 100vh;
    .left-side-about-me {
      background-image: url("../../Assets/images/about-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 1;
      transition: 0.5s ease;
      .left-side-overlay {
        background-color: #008cba;
        opacity: 0.5;
        height: 100%;
      }
    }
    .right-side-about-me {
      background-color: #4c99af;
      padding: 6em;
      justify-content: center;
      .title-about-me {
        text-align: center;
        color: $judlup-light;
        margin-bottom: 1em;
        font-weight: 450;
      }
      .content-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .content-about-me {
          font-size: 1.3em;
          text-align: justify;
          color: #ffffff;
          margin-bottom: 2em;
          width: 500px;
        }
      }
      .button-projects-container {
        width: 65%;
        display: flex;
        justify-content: flex-end;
        .button-projects-about-me {
          background-color: $judlup-sec;
          width: 200px;
        }
      }
    }
  }
  .skills {
    background-color: $judlup-prim;
    padding: 10em;
    .skills-container {
      background-color: $judlup-light;
      border-radius: 7px;
      .title-container-skills {
        margin-top: 1em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .title-skills {
          margin-left: 2em;
          font-size: 3em;
          color: $judlup-prim;
          font-weight: bold;
        }
      }
      .button-container-skills {
        margin-top: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        .button-skills {
          background-color: $judlup-sec;
          color: $judlup-light;
          width: 160px;
        }
      }
    }
    .skills-body {
      margin-top: 2em;
      margin-left: 6em;
    }
  }

  .phrase {
    min-height: 80vh;
    .phrase-container {
      background-image: url("../../Assets/images/phrase-bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 1;
      transition: 0.5s ease;
      .phrase-overlay {
        background-color: #008cba;
        opacity: 0.5;
        height: 100%;
      }
    }
    .phrase-segment {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      z-index: 1;
      height: 100vh;
      width: 100vw;
      .phrase-border {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px $judlup-light;
        padding: 40px;
        border-radius: 7px;
        margin-bottom: 5em;
        .phrase-text {
          color: $judlup-light;
          font-size: 2em;
        }
      }
      .phrase-button-container {
        display: flex;
        justify-content: center;
        .phrase-button {
          color: $judlup-sec;
          background-color: $judlup-light;
        }
      }
    }
  }
}

// Wave

.custom-shape-divider-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom svg {
  position: relative;
  display: block;
  width: calc(188% + 1.3px);
  height: 229px;
}
