---
import About from "../components/main/about/about.astro";
import Mycard from "../components/main/mycard/mycard.astro";
import Myexperience from "../components/main/myexperience/myexperience.astro";
import Myskills from "../components/main/myskills/myskills.astro";
import Testimonials from "../components/main/testimonials/testimonials.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout title="Julián Darío Luna Patiño">
  <div class="flex flex-wrap flex-col items-center justify-center mx-auto p-4">
    <Mycard />
    <About />
    <Myskills />
    <Testimonials />
    <Myexperience />
  </div>
</Layout>
