.Header {
  .appBar {
    background-color: #1687a7 !important;
  }
  .header-navbar-links {
    text-decoration: none;
    color: white !important;
    margin-left: 20px;
    font-weight: 100;
    font-size: 0.9em;
  }
}
