@import '../../Scss/general';

.Header {
  .appBar {
    background-color: $judlup-prim;
  }

  .header-left {
    display: flex;
    justify-content: flex-start;
    width: 20vw;
    h6 {
      display: flex;
      align-items: center;
      margin-left: 5px;
      font-size: 1.5em;
      small {
        font-size: 0.4em;
        margin-top: 10px;
      }
    }
  }

  .header-right {
    display: flex;
    justify-content: flex-end;
    width: 80vw;
    border-radius: 7px;
    .header-navbar-links {
      text-decoration: none;
      color: white;
      margin-left: 20px;
      font-weight: 100;
      font-size: 0.9em;
      padding: 10px;
      &:hover {
        text-decoration: none;
      }
    }
    @media (min-width: $xs-screen-min) and (max-width: $xs-screen-max) {
      display: none;
    }
  }

  .navbar-links-active {
    border-bottom: 2px solid $judlup-sec;
  }

  .header-right-mobile {
    display: flex;
    justify-content: flex-end;
    width: 90vw;
    margin-right: 2%;
    svg {
      width: 1.1em;
      height: 1.1em;
      color: $judlup-light;
    }
  }

  .mobile-menu {
    display: none;
    @media (min-width: $xs-screen-min) and (max-width: $xs-screen-max) {
      display: block;
    }

    .mobile-navbar-links {
      display: block;
      padding: 10px;
      text-align: center;
      color: $judlup-light;
      &:hover {
        background-color: $judlup-sec;
      }
    }
  }
}
