@import "../../Scss/general";

.Footer {
  height: 231px;
  color: #f6f5f5;
  display: flex;
  .footer-info-container {
    padding-top: 2%;
    background-color: $judlup-prim;
    display: flex;
    align-items: center;
    justify-content: center;
    .avatar-footer-cont {
      display: flex;
      align-items: center;
      height: 100%;
      padding-left: 5vh;
      .avatar-footer {
        width: 156px;
        height: 156px;
      }
    }
    .footer-info {
      padding-top: 30px;
      display: block;
      height: 100%;
      padding-left: 40px;
      line-height: 0.8em;
      small {
        font-size: 11px;
      }
    }
  }
  .footer-contact-container {
    padding-top: 2%;
    background-color: $judlup-prim;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-contact {
      padding-top: 30px;
      height: 100%;
      padding-left: 40px;
      line-height: 0.8em;
      small {
        font-size: 11px;
        a {
          text-decoration: none;
          color: $judlup-light;
        }
      }
    }
  }
  .footer-cta-container {
    padding-top: 2%;
    background-color: $judlup-sec;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-cta {
      height: 100%;
      padding-left: 40px;
      line-height: 0.8em;
      margin-top: 30px;
      Button {
        margin-top: 15px;
        border-color: $judlup-light;
        color: $judlup-light;
      }
    }

    .footer-social {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 30px;
      .icons {
        margin-left: 10px;
        font-size: 1.3em;
        &:hover {
          font-size: 1.7em;
        }
      }
    }
  }
}
.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $judlup-dark;
  padding-bottom: 10px;
  color: $judlup-third;
  font-size: 0.7em;
}
