// Variables
$judlup-prim: #1687a7;
$judlup-sec: #276678;
$judlup-third: #d3e0ea;
$judlup-dark: #333333;
$judlup-light: #f6f5f5;

$xs-screen-min: 0;
$xs-screen-max: 599px;
$sm-screen-min: 600px;
$sm-screen-max: 959px;
$md-screen-min: 960px;
$md-screen-max: 1279px;
$lg-screen-min: 1280px;
$lg-screen-max: 1919px;
$xl-screen-min: 1920px;

.btn-prim {
  background-color: $judlup-prim !important;
  height: 150px;
}

.btn-sec {
  background-color: $judlup-sec !important;
  width: 150px;
}

.btn-third {
  background-color: $judlup-third !important;
  width: 150px;
}

.btn-dark {
  background-color: $judlup-dark !important;
  width: 150px;
}

.btn-light {
  background-color: $judlup-light !important;
  width: 150px;
}

.divider {
  border: 1px solid $judlup-third !important;
}
